
<div [formGroup]="form">
  <ng-container *ngIf="emails.controls">
<div formArrayName="emails" *ngFor="let item of emails.controls; let i = index;">
  <ng-container [formGroupName]="i">
    <input type="hidden" formControlName="id" />    
    <div size="7" class="ion-no-padding">
      <input class="input-email ion-no-margin" placeholder="myname@mycompany.com" formControlName="email" (change)="handleChange()"/>
    </div>    
  </ng-container>
</div>
  </ng-container>
<div>
  <div class="ion-no-padding ion-padding-top">
    <button class="add-button btn-clear" (click)="addEmail()">Add Email</button>
  </div>
</div>
</div>